/* Base */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@300;400;500;600;700;900&display=swap");
/* Variables => Root */
/* --->> Colores */
/* --->> Breakpoints */
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgba(245, 245, 245, 0.9215686275);
}

.container {
  max-width: 1440px;
  width: 92%;
  margin: 0 auto;
}

/* Components */
.main-header {
  background: #fff;
}
.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__logo {
  text-decoration: none;
}
.main-header__logo p {
  font-weight: bold;
  font-size: 30px;
  color: black;
}
.main-header__logo p span {
  font-weight: normal;
}
.main-header__search {
  display: none;
}
@media (min-width: 968px) {
  .main-header__search {
    display: block;
    flex: 0 1 40%;
  }
}
.main-header__cta {
  display: none;
}
@media (min-width: 600px) {
  .main-header__cta {
    display: flex;
    gap: 15px;
  }
}
@media (min-width: 968px) {
  .main-header__hamburger {
    display: none;
  }
}
.main-header__hamburger button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main-header__hamburger button i {
  font-size: 25px;
}

.search-bar {
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  max-width: 550px;
  padding: 4px 5px 4px 30px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-bar input {
  border: none;
  width: 100%;
  height: 40px;
}
.search-bar input:focus {
  outline: none;
}
.search-bar i {
  position: absolute;
  left: 8px;
  top: 30%;
  font-size: 18px;
}

.base-btn, .outlined-btn, .white-btn, .primary-btn {
  border: 1px solid #17a23c;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 300ms;
}

.primary-btn {
  background-color: #17a23c;
  color: #fff;
}
.primary-btn:hover {
  background: #fff;
  color: #17a23c;
}

.white-btn {
  background-color: #fff;
}
.white-btn:hover {
  background-color: #17a23c;
  color: #fff;
  border: 1px solid #fff;
}

.outlined-btn, .white-btn {
  background-color: #fff;
  color: #17a23c;
}
.outlined-btn:hover, .white-btn:hover {
  background-color: #17a23c;
  color: #fff;
}

/* Layout */
.ad-banner {
  margin-top: 50px;
  background-image: url("https://res.cloudinary.com/dy6gbr4oc/image/upload/v1698618721/wave-haikei_ibuq1y.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  padding: 5px;
  border: 1px solid #e6e6e6;
}
@media (max-width: 1166px) {
  .ad-banner {
    background-image: url("https://res.cloudinary.com/dy6gbr4oc/image/upload/v1698623812/wave-haikei_1_idqrw2.svg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
.ad-banner__text {
  max-width: 500px;
  text-align: center;
  height: 100%;
  display: grid;
  place-items: center;
}
@media (max-width: 1166px) {
  .ad-banner__text {
    max-width: 100%;
    height: 150px;
  }
}
.ad-banner__text p {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  font-family: agbalumo;
}
@media (max-width: 1166px) {
  .ad-banner__text p {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .ad-banner__text p {
    font-size: 25px;
  }
}

.ad-banner__wrapper {
  background-image: url("https://res.cloudinary.com/dy6gbr4oc/image/upload/v1698619591/Screenshot_2023-10-29_at_5.45.38_PM_ccr7ja.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1166px) {
  .ad-banner__wrapper {
    background-image: url("https://res.cloudinary.com/dy6gbr4oc/image/upload/v1698619591/Screenshot_2023-10-29_at_5.45.38_PM_ccr7ja.png");
    background-position: center;
    background-size: contain;
  }
}

.discount-images-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
  cursor: pointer;
}
.discount-images-section img {
  transition: 300ms;
  height: 400px;
  border-radius: 30px;
}
.discount-images-section img:hover {
  transform: scale(1.05);
}

.section-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.section-description h2 {
  font-size: 34px;
  color: #00433E;
}
.section-description a {
  font-size: 16px;
  color: #00433E;
  font-weight: bold;
}

.clothes-discount-banner {
  margin: 40px 0;
}

/*# sourceMappingURL=styles.css.map */
