.main-header {
  background: #fff;
  position: relative;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    text-decoration: none;
    p {
      font-weight: bold;
      font-size: 30px;
      color: black;
      span {
        font-weight: normal;
      }
    }
  }
  &__search {
    display: none;
    @media (min-width: $tablet) {
      display: block;
      flex: 0 1 40%;
    }
  }
  &__cta {
    display: none;
    @media (min-width: $phone) {
      display: flex;
      gap: 15px;

    }
  }
  &__hamburger {
    @media (min-width: $tablet) {
      display: none;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      i {
        font-size: 25px;
      }
    }
  }
  &__navigation{
    position: absolute;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 14px;
    height: 35px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    align-items: center;
    a{
      text-decoration: none;
      color: $dark_green;
      font-weight: normal;
      transition: 300ms;
      &:hover{
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
